<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"> 
<head>
	<meta charset="UTF-8">
	
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<title>Title</title>
</head>


<body class = "bg-light">
	<div class= "container">
		<div class ="row justify-content-center">
		<div class ="col-md-8">
		
		//お問い合わせフォーム　名前入力欄

		 <h4 class ="border-bottom my-3" th:text="#{inquiry}">
		 </h4>
//novalidate?
		 <form th:action="@{/confirm}" th:object="${inquiryForm}" method="post" novalidate>
		 	<div class="mb-3">
		 		<label for ="name" th:text="#{name}"></label>
		 			<input type="text" class="form-controll" th:errorclass="is-invalid" th:field="*{name}" >
						<div class = "invalid-feedback" th:errors="*{name}">
					</div>
		 	</div>
		 	
		 	//お問い合わせフォーム　返信用メールアドレス入力欄
		 	
		 	<div class="mb-3">
		 		<label for = "email" th:text="#{email}"></label>
			 		<input type="email" class="form-controll" 
			 		th:errorclass="is-invalid" th:field = "*{email}">
		 		</div>
		 	</div>
		 	
		 	//お問い合わせフォーム　お問い合わせ内容入力欄
		 	
			<div class="mb-3">
				<label for ="inquiry" th:text="#{inquiry}"></label>
					<textarea
					 class="form-controll"
					  rows="3"
					</textarea>	
					<div class="invalid-feedback" th:errors="*{inquiry}">
					</div>
			</div>	
			
				//送信ボタン
			
				<button class="w-100 btn-primary btn-lg"
				type="submit" th:text="#{register}">
				</button>
		</form>
		</div>		
	</div>
	
		<script = th:src= "@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	
	</body>
</html>
			
					
						
		 	
		 			